<div class="container">

   <nav>
      <button class="btn btn-default pull-right" ng-click="vm.ins()">{{vm.txt[vm.lang].insert}}</button>
      <input class="form-control search" type="text" size="20" placeholder="{{vm.txt[vm.lang].search}}" ng-model="vm.searchText">
   </nav>

   <h2>{{vm.txt[vm.lang].users}}</h2>

   <table class="table">
      <thead>
         <tr>
            <th><a href="" ng-click="vm.sortData('email')">Email</a> <div class="arrow" ng-class="vm.getSortClass('email')"></div></th>
            <th><a href="" ng-click="vm.sortData('name, email')">{{vm.txt[vm.lang].name}}</a> <div class="arrow" ng-class="vm.getSortClass('name, email')"></th>
            <th><a href="" ng-click="vm.sortData('std,email')">{{vm.txt[vm.lang].std}}</a> <div class="arrow" ng-class="vm.getSortClass('std,email')"></th>
            <th><a href="" ng-click="vm.sortData('active,email')">{{vm.txt[vm.lang].active}}</a> <div class="arrow" ng-class="vm.getSortClass('active,email')"></th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="item in vm.list | filter:vm.searchText | orderBy:vm.sortCol:vm.reverseSort">
            <td><a href="#!/user/{{item._id}}">{{item.email}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.std}}</td>
            <td>{{item.active ? vm.txt[vm.lang].yes : vm.txt[vm.lang].no}}</td>
         </tr>
      </tbody>
   </table>

   <p class="msg">{{vm.msg}}</p>

</div>